<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.challengerapproaching">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Characters.Zero_Suit_Samus"></activity>
        <activity android:name=".Characters.Zelda" />
        <activity android:name=".Characters.Yoshi" />
        <activity android:name=".Characters.Young_Link" />
        <activity android:name=".Characters.Wolf" />
        <activity android:name=".Characters.Wii_Fit_Trainer" />
        <activity android:name=".Characters.Wario" />
        <activity android:name=".Characters.Villager" />
        <activity android:name=".Characters.Toon_Link" />
        <activity android:name=".Characters.Terry" />
        <activity android:name=".Characters.Sonic" />
        <activity android:name=".Characters.Snake" />
        <activity android:name=".Characters.Simon" />
        <activity android:name=".Characters.Shulk" />
        <activity android:name=".Characters.Sheik" />
        <activity android:name=".Characters.Samus" />
        <activity android:name=".Characters.Ryu" />
        <activity android:name=".Characters.Roy" />
        <activity android:name=".Characters.Rosalina_and_Luma" />
        <activity android:name=".Characters.Robin" />
        <activity android:name=".Characters.ROB" />
        <activity android:name=".Characters.Ridley" />
        <activity android:name=".Characters.Richter" />
        <activity android:name=".Characters.Charizard" />
        <activity android:name=".Characters.Ivysaur" />
        <activity android:name=".Characters.Squirtle" />
        <activity android:name=".Characters.Pit" />
        <activity android:name=".Characters.Piranha_Plant" />
        <activity android:name=".Characters.Pikachu" />
        <activity android:name=".Characters.Pichu" />
        <activity android:name=".Characters.Peach" />
        <activity android:name=".Characters.Palutena" />
        <activity android:name=".Characters.Pac_Man" />
        <activity android:name=".Characters.Olimar" />
        <activity android:name=".Characters.Ness" />
        <activity android:name=".Characters.Mr_Game_and_Watch" />
        <activity android:name=".Characters.Mii_Swordfighter" />
        <activity android:name=".Characters.Mii_Gunner" />
        <activity android:name=".Characters.Mii_Brawler" />
        <activity android:name=".Characters.Mewtwo" />
        <activity android:name=".Characters.Meta_Knight" />
        <activity android:name=".Characters.Mega_Man" />
        <activity android:name=".Characters.Marth" />
        <activity android:name=".Characters.Mario" />
        <activity android:name=".Characters.Luigi" />
        <activity android:name=".Characters.Lucina" />
        <activity android:name=".Characters.Lucas" />
        <activity android:name=".Characters.Lucario" />
        <activity android:name=".Characters.Little_Mac" />
        <activity android:name=".Characters.Link" />
        <activity android:name=".Characters.Kirby" />
        <activity android:name=".Characters.King_K_Rool" />
        <activity android:name=".Characters.King_Dedede" />
        <activity android:name=".Characters.Ken" />
        <activity android:name=".Characters.Joker" />
        <activity android:name=".Characters.Jigglypuff" />
        <activity android:name=".Characters.Isabelle" />
        <activity android:name=".Characters.Inkling" />
        <activity android:name=".Characters.Incineroar" />
        <activity android:name=".Characters.Ike" />
        <activity android:name=".Characters.Ice_Climbers" />
        <activity android:name=".Characters.Hero" />
        <activity android:name=".Characters.Greninja" />
        <activity android:name=".Characters.Ganondorf" />
        <activity android:name=".Characters.Fox" />
        <activity android:name=".Characters.Falco" />
        <activity android:name=".Characters.Duck_Hunt" />
        <activity android:name=".Characters.DrMario" />
        <activity android:name=".Characters.Donkey_Kong" />
        <activity android:name=".Characters.diddyKong" />
        <activity android:name=".Characters.darkSamus" />
        <activity android:name=".Characters.darkPit" />
        <activity android:name=".Characters.Daisy" />
        <activity android:name=".Characters.Chrom" />
        <activity android:name=".Characters.captainFalcon" />
        <activity android:name=".Characters.Bylthe" />
        <activity android:name=".Characters.bowserJr" />
        <activity android:name=".Characters.Bowser" />
        <activity android:name=".Characters.Bayonetta" />
        <activity android:name=".Characters.Banjo_Kazooie" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>