<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.challengerapproaching">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".characters.Corrin"
            android:parentActivityName=".MainActivity"
            android:label="Corrin"/>
        <activity android:name=".characters.Cloud"
            android:parentActivityName=".MainActivity"
            android:label="Cloud"/>
        <activity android:name=".characters.ZeroSuitSamus"
            android:parentActivityName=".MainActivity"
            android:label="Zero Suit Samus"/>
        <activity android:name=".characters.Zelda"
            android:parentActivityName=".MainActivity"
            android:label="Zelda"/>
        <activity android:name=".characters.Yoshi"
            android:parentActivityName=".MainActivity"
            android:label="Falco"/>
        <activity android:name=".characters.YoungLink"
            android:parentActivityName=".MainActivity"
            android:label="Young Link"/>
        <activity android:name=".characters.Wolf"
            android:parentActivityName=".MainActivity"
            android:label="Wolf"/>
        <activity android:name=".characters.WiiFitTrainer"
            android:parentActivityName=".MainActivity"
            android:label="Wii Fit Trainer"/>
        <activity android:name=".characters.Wario"
            android:parentActivityName=".MainActivity"
            android:label="Wario"/>
        <activity android:name=".characters.Villager"
            android:parentActivityName=".MainActivity"
            android:label="Villager"/>
        <activity android:name=".characters.ToonLink"
            android:parentActivityName=".MainActivity"
            android:label="Toon Link"/>
        <activity android:name=".characters.Terry"
            android:parentActivityName=".MainActivity"
            android:label="Terry"/>
        <activity android:name=".characters.Sonic"
            android:parentActivityName=".MainActivity"
            android:label="Sonic"/>
        <activity android:name=".characters.Snake"
            android:parentActivityName=".MainActivity"
            android:label="Snake"/>
        <activity android:name=".characters.Simon"
            android:parentActivityName=".MainActivity"
            android:label="Simon"/>
        <activity android:name=".characters.Shulk"
            android:parentActivityName=".MainActivity"
            android:label="Shulk"/>
        <activity android:name=".characters.Sheik"
            android:parentActivityName=".MainActivity"
            android:label="Sheik"/>
        <activity android:name=".characters.Samus"
            android:parentActivityName=".MainActivity"
            android:label="Samus"/>
        <activity android:name=".characters.Ryu"
            android:parentActivityName=".MainActivity"
            android:label="Ryu"/>
        <activity android:name=".characters.Roy"
            android:parentActivityName=".MainActivity"
            android:label="Roy"/>
        <activity android:name=".characters.RosalinaAndLuma"
            android:parentActivityName=".MainActivity"
            android:label="Rosalina and Luma"/>
        <activity android:name=".characters.Robin"
            android:parentActivityName=".MainActivity"
            android:label="Robin"/>
        <activity android:name=".characters.Rob"
            android:parentActivityName=".MainActivity"
            android:label="Rob"/>
        <activity android:name=".characters.Ridley"
            android:parentActivityName=".MainActivity"
            android:label="Ridley"/>
        <activity android:name=".characters.Richter"
            android:parentActivityName=".MainActivity"
            android:label="Richter"/>
        <activity android:name=".characters.Charizard"
            android:parentActivityName=".MainActivity"
            android:label="Pokemon Trainer: Charizard"/>
        <activity android:name=".characters.Ivysaur"
            android:parentActivityName=".MainActivity"
            android:label="Pokemon Trainer: Ivysaur"/>
        <activity android:name=".characters.Squirtle"
            android:parentActivityName=".MainActivity"
            android:label="Pokemon Trainer: Squirtle"/>
        <activity android:name=".characters.Pit"
            android:parentActivityName=".MainActivity"
            android:label="Pit"/>
        <activity android:name=".characters.PiranhaPlant"
            android:parentActivityName=".MainActivity"
            android:label="Piranha Plant"/>
        <activity android:name=".characters.Pikachu"
            android:parentActivityName=".MainActivity"
            android:label="Pikachu"/>
        <activity android:name=".characters.Pichu"
            android:parentActivityName=".MainActivity"
            android:label="Pichu"/>
        <activity android:name=".characters.Peach"
            android:parentActivityName=".MainActivity"
            android:label="Peach"/>
        <activity android:name=".characters.Palutena"
            android:parentActivityName=".MainActivity"
            android:label="Palutena"/>
        <activity android:name=".characters.PacMan"
            android:parentActivityName=".MainActivity"
            android:label="PacMan"/>
        <activity android:name=".characters.Olimar"
            android:parentActivityName=".MainActivity"
            android:label="Olimar"/>
        <activity android:name=".characters.Ness"
            android:parentActivityName=".MainActivity"
            android:label="Ness"/>
        <activity android:name=".characters.MrGameAndWatch"
            android:parentActivityName=".MainActivity"
            android:label="Mr. Game And Watch"/>
        <activity android:name=".characters.MiiSwordfighter"
            android:parentActivityName=".MainActivity"
            android:label="Mii Sword Fighter"/>
        <activity android:name=".characters.MiiGunner"
            android:parentActivityName=".MainActivity"
            android:label="Mii Gunner"/>
        <activity android:name=".characters.MiiBrawler"
            android:parentActivityName=".MainActivity"
            android:label="Mii Brawler"/>
        <activity android:name=".characters.Mewtwo"
            android:parentActivityName=".MainActivity"
            android:label="Mewtwo"/>
        <activity android:name=".characters.MetaKnight"
            android:parentActivityName=".MainActivity"
            android:label="MetaKnight"/>
        <activity android:name=".characters.MegaMan"
            android:parentActivityName=".MainActivity"
            android:label="MegaMan"/>
        <activity android:name=".characters.Marth"
            android:parentActivityName=".MainActivity"
            android:label="Marth"/>
        <activity android:name=".characters.Mario"
            android:parentActivityName=".MainActivity"
            android:label="Mario"/>
        <activity android:name=".characters.Luigi"
            android:parentActivityName=".MainActivity"
            android:label="Luigi"/>
        <activity android:name=".characters.Lucina"
            android:parentActivityName=".MainActivity"
            android:label="Lucina"/>
        <activity android:name=".characters.Lucas"
            android:parentActivityName=".MainActivity"
            android:label="Lucas"/>
        <activity android:name=".characters.Lucario"
            android:parentActivityName=".MainActivity"
            android:label="Lucario"/>
        <activity android:name=".characters.LittleMac"
            android:parentActivityName=".MainActivity"
            android:label="LittleMac"/>
        <activity android:name=".characters.Link"
            android:parentActivityName=".MainActivity"
            android:label="Link"/>
        <activity android:name=".characters.Kirby"
            android:parentActivityName=".MainActivity"
            android:label="Kirby"/>
        <activity android:name=".characters.KingKRool"
            android:parentActivityName=".MainActivity"
            android:label="King K.Rool"/>
        <activity android:name=".characters.KingDedede"
            android:parentActivityName=".MainActivity"
            android:label="King Dedede"/>
        <activity android:name=".characters.Ken"
            android:parentActivityName=".MainActivity"
            android:label="Ken"/>
        <activity android:name=".characters.Joker"
            android:parentActivityName=".MainActivity"
            android:label="Joker"/>
        <activity android:name=".characters.Jigglypuff"
            android:parentActivityName=".MainActivity"
            android:label="Jigglypuff"/>
        <activity android:name=".characters.Isabelle"
            android:parentActivityName=".MainActivity"
            android:label="Isabelle"/>
        <activity android:name=".characters.Inkling"
            android:parentActivityName=".MainActivity"
            android:label="Inkling"/>
        <activity android:name=".characters.Incineroar"
            android:parentActivityName=".MainActivity"
            android:label="Incineroar"/>
        <activity android:name=".characters.Ike"
            android:parentActivityName=".MainActivity"
            android:label="Ike"/>
        <activity android:name=".characters.IceClimbers"
            android:parentActivityName=".MainActivity"
            android:label="Ice Climbers"/>
        <activity android:name=".characters.Hero"
            android:parentActivityName=".MainActivity"
            android:label="Hero"/>
        <activity android:name=".characters.Greninja"
            android:parentActivityName=".MainActivity"
            android:label="Greninja"/>
        <activity android:name=".characters.Ganondorf"
            android:parentActivityName=".MainActivity"
            android:label="Ganondorf"/>
        <activity android:name=".characters.Fox"
            android:parentActivityName=".MainActivity"
            android:label="Fox"/>
        <activity android:name=".characters.Falco"
            android:parentActivityName=".MainActivity"
            android:label="Falco"/>
        <activity android:name=".characters.DuckHunt"
            android:parentActivityName=".MainActivity"
            android:label="Duck Hunt"/>
        <activity android:name=".characters.DrMario"
            android:parentActivityName=".MainActivity"
            android:label="Dr. Mario"/>
        <activity android:name=".characters.DonkeyKong"
            android:parentActivityName=".MainActivity"
            android:label="Donkey Kong"/>
        <activity android:name=".characters.DiddyKong"
            android:parentActivityName=".MainActivity"
            android:label="Diddy Kong"/>
        <activity android:name=".characters.DarkSamus"
            android:parentActivityName=".MainActivity"
            android:label="Dark Samus"/>
        <activity android:name=".characters.DarkPit"
            android:parentActivityName=".MainActivity"
            android:label="Dark Pit"/>
        <activity android:name=".characters.Daisy"
            android:parentActivityName=".MainActivity"
            android:label="Daisy"/>
        <activity android:name=".characters.Chrom"
            android:parentActivityName=".MainActivity"
            android:label="Chrom"/>
        <activity android:name=".characters.CaptainFalcon"
            android:parentActivityName=".MainActivity"
            android:label="Captain Falcon"/>
        <activity android:name=".characters.Byleth"
            android:parentActivityName=".MainActivity"
            android:label="Byleth"/>
        <activity android:name=".characters.BowserJr"
            android:parentActivityName=".MainActivity"
            android:label="Bowser Jr"/>
        <activity android:name=".characters.Bowser"
            android:parentActivityName=".MainActivity"
            android:label="Bowser"/>
        <activity android:name=".characters.Bayonetta"
            android:parentActivityName=".MainActivity"
            android:label="Bayonetta"/>
        <activity android:name=".characters.BanjoKazooie"
            android:parentActivityName=".MainActivity"
            android:label="Banjo Kazooie"/>
        <activity android:name=".Events"
            android:parentActivityName=".MainActivity"
            android:label="Tournaments / Events"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>